html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

::selection {
background:transparent;
}

.sans-serif {
  font-family: 'Roboto', sans-serif;
}

.monospace {
  font-family: 'Ubuntu Mono', monospace;
}

body {
    padding: 0;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    height: 100vh;
    background-color: #111111;
    color: #666666;
}

a {
  color: #555555;
  text-decoration: none;
}

.inner-app {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  padding: 8px;
  background-color: black;
  display: flex;
  flex-direction: row;
}

.inner-app > main {
  flex: 1;
}

.breadcrumb {
  flex: 1;
}

.breadcrumb > .crumb > i {
  padding: 0 8px;
}

.breadcrumb > .crumb > a {
  transition: color 0.2s;
}

.breadcrumb > .crumb > a:hover {
  color: #fff;
}

.breadcrumb > .crumb > .current {
  color: #999999;
}
