@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Thin'), local('Roboto-Thin'), url(../fonts/roboto1.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(../fonts/roboto2.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(../fonts/roboto3.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* latin */
@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu Mono'), local('UbuntuMono-Regular'), url(../fonts/mono.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}


.sans-serif {
  font-family: 'Roboto', sans-serif;
}

.monospace {
  font-family: 'Ubuntu Mono', monospace;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #313440;
  color: #9EA1B3;
  padding: 0;
  margin: 0;
}

#app > div {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  padding: 12px;
  overflow: auto;
}

header, footer {
  background-color: #262831;
}

footer {
  padding: 4px;
}

footer {
  display: flex;
}

footer > div {
  flex: 1;
}

footer input[type="text"] {
  border-style: none;
  background-color: transparent;
  color: #9EA1B3;
  font-family: 'Ubuntu Mono', monospace;
  font-size: 120%;
  padding: 2px;
  flex: 6;
}

footer input[type="text"]:focus {
  outline: none;
}

.search-box {
  display: flex;
}

.search-box > * {
  margin: auto;
}

.search-box input {
  flex: 1;
  margin-left: 4px;
}



.enabled {
  color: #9EA1B3;
}

.disabled {
  color: #464A5A;
}



.history-buttons {
  text-align: right;
  padding-right: 16px;
}

.breadcrumb {
  padding: 4px;
  margin: 0;
  background-color: black;
  font-family: 'Ubuntu Mono', monospace;
}

.breadcrumb > li{
  display: inline-block;
  list-style: none;
}

.breadcrumb > li > a {
  cursor: pointer;
  transition: color 0.3s;
}

.breadcrumb > li > a:hover {
  color: #F68479;
}

.breadcrumb > .current {
  color: #97ecc5;
}

.toolbox {
  padding: 4px;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.toolbox > div {
  flex: 1;
  margin: auto;
}

.toolbox i {
  margin-left: 6px;
}

.toolbox a > i {
  cursor: pointer;
  transition: color 0.3s;
}

.toolbox a:hover > i {
  color: white;
}

.tree-elt {
  padding: 2px 8px;
  cursor: pointer;
  display: block;
}

.tree-elt:hover {
  color: white;
}


.tree-elt i {
  margin-right: 6px;
  color: #63677E;
}

.folder i{
  color: #63677E;
}

.parent {
  color: #464A5A;
}

.parent:hover {
  color: #97ecc5;
}

.not-folder i{
  color: #F2F2F2;
}
