html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.sans-serif {
  font-family: 'Roboto', sans-serif;
}

.monospace {
  font-family: 'Ubuntu Mono', monospace;
}

body {
    padding: 0;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    height: 100vh;
    background-color: #111111;
    color: #555555;
}

.inner-app {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  padding: 8px;
  background-color: black;
}

.inner-app > main {
  flex: 1;
}
